@import 'tailwindcss';
@tailwindcss utilities;
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Dancing+Script:wght@400..700&family=Monoton&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  scroll-behavior: smooth;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@theme {
  --font-bitcount: 'Bitcount Prop Double Ink', system-ui;
  --font-dancingScript: 'Dancing Script', system-ui;
  --font-monoton: 'Monoton', system-ui;
}

@layer components {
  .navbar {
    @apply flex-center border-white/20 border gap-x-13 mt-14 w-180 flex-wrap mx-auto rounded-4xl p-0.5 text-2xl h-16.25 sticky z-10 top-10 py-0.5 shadow-[0_0_100px_rgba(255,255,255,0.1)] bg-black/50;
  }

  .home-info {
    @apply text-black text-[26px] before:content-[''] before:h-15 before:w-15 before:absolute before:bg-gray-300/60 before:-right-100 relative before:top-20 before:rounded-full before:animate-up-down font-semibold after:absolute after:w-50 after:h-50 after:bg-pink-600/90 after:blur-[200px] after:shadow-[0_0_200px_rgb(200,0,0)] after:-z-100 after:-right-62.5 after:rounded-full;
  }

  .hover-nav-text {
    @apply before:content-[''] before:bottom-0 before:absolute before:h-[1.5px] before:bg-purple-500 before:scale-0 before:opacity-0 hover:before:scale-100 hover:before:opacity-100 before:duration-300 hover:text-purple-400;
  }

  .main-portfolio-image {
    @apply relative before:content-[''] before:w-162.5 before:h-162.5 before:absolute before:-z-1 before:bg-blue-400/40 before:border-2 before:rounded-2xl before:rotate-z-45 before:top-25 before:left-41.25 after:shadow-[0_0_40px_rgba(0,0,255,0.5)] mt-30 after:absolute after:w-137.5 after:h-137.5 after:content-[''] after:bg-blue-700/50 after:-z-2 after:border-2 after:border-blue-600 after:rounded-full after:-top-25 after:left-55 animate-up-down;
  }

  .project-front-section {
    @apply border border-yellow-300 w-115 h-75 flex items-center justify-center flex-col gap-y-8 duration-500;
  }

  .project-back-section {
    @apply w-115 h-75 absolute top-0 left-0 duration-500 -translate-x-115;
  }

  .button {
    @apply bg-purple-600/60 text-white/90 py-1.5 px-3 rounded-xl text-2xl font-semibold;
  }
}

@theme {
  --animate-up-down: up-down 3s ease-in-out infinite;
  @keyframes up-down {
    0% {
      transform: translateY(-12px);
    }
    50% {
      transform: translateY(12px);
    }
    100% {
      transform: translateY(-12px);
    }
  }

  --animate-one-round: one-round 0.2s ease-in-out;
  @keyframes one-round {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }

  --animate-fade-in: fade-in 1.25s ease-in;
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translatey(50px);
    }
    100% {
      opacity: 1;
      transform: translatey(0px);
    }
  }
}
