body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url(image/backgrround.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#top_section {
    background-color: rgb(11, 11, 62);
    color: white;
    text-shadow: 0 0 70px whitesmoke;
    font-size: 30px;
    box-shadow: 20px 0 20px rgb(105, 105, 220);
}

.to_do_section {
    margin-left: 40%;
    font-weight: bolder;
}

#container {
    display: flex;
}

#upper_section {
    display: flex;
    gap: 40px;
    margin: 2% 0% 2% 2%;
}

#upper_section>#context {
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    padding: 10px;
    scrollbar-highlight-color: blue;
}

#context {
    width: 900px;

    border: 1px solid black;
    outline: none;
    box-shadow: -6px 8px 10px black;
    border-radius: 7px;
}

#input_option>button {
    justify-items: center;
}

.upper_btn1,
.upper_btn2 {
    margin: 5px;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.8);
    outline: none;
    border-radius: 100%;
    border: 1px solid black;
}

.upper_btn1:hover,
.upper_btn2:hover {
    box-shadow: -3px 2px 5px black;
    transition: ease-in-out 0.4s;
}

.insert_option {
    width: 100%;
    height: 100%;
}

.clear {
    display: flex;
    margin: 2% 20%;
}

.lower_output {
    max-height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%;
    margin-left: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.clear_btn {
    padding: 5px;
    width: 80px;
    font-size: 18px;
    border-radius: 5px;
}

.clear_btn:hover {
    box-shadow: 0 0 10px black;
    transition: ease-in-out 0.5s;
}
.create_div{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 3px;
    margin-bottom: 0px;
    padding-left: 10px;
}

#div_delete_btn, #div_remove_btn, #div_tick_btn{
    margin-left: 20px;
    width: 15px;
    margin-top: 0px;
}
#div_tick_btn{
    margin-left: 30vw;
}
                              